.hero{
background-color: #576CA8;
width: 100vw;
height: 100vh;
padding: 2rem;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.font{
font-family: 'Playfair Display', serif;
}

.nav-item{
    transition: all .5s ease;
    color: #fff;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;
}
.nav-item:hover{
    background-color: #576CA8;
    color: #f5f3f5;
}
.nav{
    background-color: #1b264f;
}
.nav-link{
    color: #fff;
}
a:link{
    color: #f5f3f5;
}