* {
  padding: 0;
  margin: 0;
}

.hero {
  background-color: #f5f3f5;
}

.img-pod {
  height: 110px;
  width: 110px;
  background: linear-gradient(90deg, #274690, #576ca8);
  /* z-index: -1; */
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  position: absolute;
  left: -50px;
  top: 10px;
  transform: translateY(-50%);
}

img {
  height: 100px;
  width: 100px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
}

.quote-wrapper {
  max-width: 60vw;
  min-height: 300px;
  margin: 80px auto;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 5rem;
  padding: 20px 10px 10px 10px;
  background-color: #f5f3f5;
  border-radius: 15px;
  box-shadow: 13px 13px 20px #576ca8, -13px -13px 20px #576ca8;
}
.quote-title{
  color: #274690;
}

.quote-btn{
  margin-top: 1rem;
  width: 20vw;
  height: 40px;
  background-color: #1b264f;
  color: #f5f3f5;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
  border-radius: 25px;
  letter-spacing: 1.3px;

}
.author{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
  color: #1b264f;
  padding: 1rem;
}