{% extends "base.html" %} {% block content %}

<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/index.css') }}"
/>
<style>
</style>
{% block blog %}

<div class="blog_post">
  {% for blog in blog %}

  <div class="card text-center w-75 mx-auto mt-5 ">
    <div class="card-body">
      <div class="img-pod">
        <img src="{{ url_for('static', filename='hero.jpg') }}" alt="profile-image">
      </div>
      <h5 class="card-title fs-3 fw-bolder">{{ blog.title }}</h5>
      <p class="card-text">📌 {{ blog.body }}</p>
      <a href="#" class="btn btn-primary">Upvote</a>
      <a href="{{ url_for('main.delete', id=blog.id) }}" class="btn btn-danger">Delete</a>
      <div class="card-footer submit-btn">
        <p>Posted on {{blog.date_posted}}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock blog %} {% endblock %}
